<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Spring properties -->
    <springProperty scope="context" name="app.name" source="spring.application.name" defaultValue="ttrilha-api"/>
    <springProperty scope="context" name="loki.url" source="loki4j.url" defaultValue="http://localhost:3100"/>

    <!-- DEV console -->
    <appender name="CONSOLE_DEV" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- PROD console JSON -->
    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampPattern>
            <fieldName>@timestamp</fieldName>
            <customFields>{"app":"${app.name}"}</customFields>
        </encoder>
    </appender>

    <!-- Loki -->
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${loki.url}/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=${app.name},level=%level</pattern>
            </label>
            <message>
                <pattern>%logger{20} - %msg</pattern>
            </message>
        </format>
    </appender>

    <!-- DEV profile -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE_DEV"/>
        </root>
    </springProfile>

    <!-- QUANDO NAO FOR DEV -->
    <springProfile name="!dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>

    <!-- Application loggers -->
    <logger name="com.nimblesoftwares.ttrilha_api" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.springframework.data.redis" level="DEBUG"/>
    <logger name="io.micrometer" level="INFO"/>
    <logger name="io.opentelemetry" level="INFO"/>

</configuration>